body {
  margin: 0px;
  padding: 0px;
}
.wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template: "main-head" "main-nav" "front" "main-footer";
}
.wrapper-port {
  display: grid;
  grid-gap: 0px;
  grid-template: "main-head" "main-nav" "portfolio" "main-footer";
}
.main-head {
  grid-area: main-head;
  color: #555;
  font-family: Helvetica, sans-serif;
  text-align: center;
  padding: 0px;
  padding-left: 10px;
  margin: 0;
  font-size: 30px;
}
.main-nav {
  padding: 0;
  grid-area: "main-nav";
  background: #fff;
}
.main-nav .active {
  border-bottom: 2px solid #222;
}
.main-nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.main-nav ul li {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  flex: 1 1 0;
  text-align: center;
}
.main-nav ul li a {
  text-decoration: none;
  display: block;
  padding: 9px;
}
.main-nav ul li a:link,
.main-nav ul li a:visited {
  color: #333;
}
.main-nav ul li a:hover {
  background: #444;
  color: #fff;
}
.front {
  grid-area: "front";
  border-top: 1px solid #222;
}
.front img {
  max-width: 100%;
  height: auto;
}
.example-list {
  grid-area: "front";
  border-top: 1px solid #222;
}
.example-list p {
  font-family: Helvetica, sans-serif;
  text-align: center;
}
.example-list ul {
  columns: 2;
  list-style-type: none;
  padding: 0;
}
.example-list ul li {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}
.example-list ul li a {
  text-decoration: none;
  display: block;
  padding: 20px;
  border: 1px solid #222;
}
.example-list ul li a:link,
.example-list ul li a:visited {
  color: #333;
}
.example-list ul li a:hover {
  background: #444;
  color: #fff;
}
.main-art {
  grid-area: "main-art";
  font-family: Helvetica, sans-serif;
  padding: 10px;
}
.main-art h1 {
  margin: 0px;
  text-align: center;
}
.splash-img {
  grid-area: "splash-img";
}
.main-foot {
  grid-area: "main-footer";
  align-self: end;
  font-family: Helvetica, sans-serif;
  text-align: center;
  border-top: 1px solid #222;
}
.portfolio {
  grid-area: "portfolio";
  padding: 0;
}
.portfolio ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
}
.portfolio ul li {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  flex: 1 1 0;
  text-align: center;
  display: block;
  padding: 7px;
}
.portfolio ul li:hover {
  background: #444;
  color: #fff;
  cursor: pointer;
}
.portfolio ul li.active {
  background: #444;
  color: #fff;
  cursor: pointer;
}
.port-entry {
  padding-top: 2px;
  display: grid;
  grid-template-rows: auto auto;
}
.port-entry .port-image {
  grid-row-start: 1;
  grid-row-end: 2;
  padding-right: 5px;
}
.port-entry .port-text {
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0;
  font-family: Helvetica, sans-serif;
}
.port-entry .port-text h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.port-entry .port-text h3 {
  margin-top: 0;
  text-align: center;
}
@media (min-width: 800px) {
  .wrapper {
    grid-gap: 0px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
  }
  .port-entry {
    grid-template-columns: 2fr 4fr;
  }
  .port-entry .port-image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .port-entry .port-text {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .main-head {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
  }
  .main-nav {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;
  }
  .front {
    padding-top: 5px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 4fr 3fr;
  }
  .example-list {
    padding-top: 5px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .splash-img {
    justify-self: end;
  }
  .main-foot {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .portfolio {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
@media (min-width: 1000px) {
  body {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (min-width: 1200px) {
  body {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media (min-width: 1400px) {
  body {
    padding-left: 20%;
    padding-right: 20%;
  }
}
